APP_NAME="Rem Soft - Projeto Padrão"
APP_ENV=testing
APP_KEY=base64:oq/qxf+ABmpgstqzyaXvRVEQNePl9RJP1z3bY1lGbxQ=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://rem-soft-projeto-padrao.test

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=testing
DB_USERNAME=root
DB_PASSWORD=root

BROADCAST_DRIVER=log
CACHE_DRIVER=array
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=array

MAIL_DRIVER=array
MAIL_MAILER=array
